<!DOCTYPE html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses Mapbox API and Weatherstack API.</p>
        <img class="portrait" src="/images/robot.png">
    </div>
    {{>footer}}
</body>
</html>