<!DOCTYPE html>

<head>
    <title>Error</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>
{{>footer}}
</body>
</html>