<!DOCTYPE html>

<head>
    <title>Help</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    {{>footer}}
</body>
</html>